// Variables
@import 'variables/colors';

// Components
@import 'components/carousel';

* {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

html, body {
	margin: 0;
	font-family: sans-serif;
	height: 100%;
}

body {
	background: $grey-99;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;

		@media only screen and (min-width: 768px) {
			margin: 0
		}
}

h1 {
	margin: 0;
}
