$scope-carousel-max-width: 320px;
$scope-products-container-height: 510px;
$scope-product-height: 170px;

.carousel {
	&__container {
		width: 100%;
	    background: white;
	    border-radius: 3px;
	    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

		@media only screen and (min-width: 768px) {
			width: 100%;
			max-width: $scope-carousel-max-width;
		}

	}

	&__products {
		height: $scope-products-container-height;
		overflow: hidden;
	}

	&__control-button {
		background: $grey-98;
	    border: 0;
	    padding: 15px 10px;
	    width: 100%;
	    color: grey-28;
	    font-size: 14px;
	    transition: 0.3s;
	    cursor: pointer;
	    font-weight: bold;

	    &:hover {
	    	background: darken($grey-98, 10%);
	    }

	    &:disabled {
			cursor: not-allowed;
	    	background: lighten($grey-98, 20%);
	    }

	    &.-top {
		    border-top-left-radius: 3px;
		    border-top-right-radius: 3px;
			border-bottom:1px solid $grey-95;
	    }


	    &.-bottom {
		    border-bottom-left-radius: 3px;
		    border-bottom-right-radius: 3px;
	    }
	}

}

.carousel-product {
	&__container {
		height: $scope-product-height;
		border-bottom: 1px solid $grey-95;
		padding: 20px 10px;
	}

	&__title {
	    white-space: nowrap;
	    overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block;
		font-size: 12px;
		width: 280px;
	    margin-bottom: 10px;
	    color: $brand-red;
	}

	&__additional-information {
		display: flex;
	}

	&__image {

		width: 120px;
		margin-right: 10px;
		align-self: flex-start;
		padding: 2px;
		border:1px solid $grey-95;
	}

	&__detail-list {
		flex-grow: 1;
		margin: 0;

		dt,
		dd {
			font-size: 11px;
			color: $grey-63;
			margin-bottom: 5px;
		}

		dt {
			font-weight: bold;
			float: left;
			clear: both;
			width: 25%;
		}
		dd {
			margin-left: 0;
			float: right;
			width: 75%;
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-top: 10px;
	}

	&__add-to-cart {
		border: 0;
		background:$brand-red;
		color: $white;
		border-radius: 2px;
		padding: 7px 12px;
		transition: 0.3s;

		&:hover {
			background:lighten($brand-red, 10%);
		}
	}

	&__price {
		margin-right: 10px;
	}

}

